.sidebar {
  padding-top: 2rem;
  padding-bottom: 4rem;
  .aside-bar {
    padding: 1rem;
  }
  .aside-bar:last-child {
    border: 1px solid $text-color;
  }
  form {
    padding-bottom: 2rem;
    label {
      color: $text-color;
      line-height: 3rem;
      text-transform: uppercase;
    }
    .input-group {
      border: 1px solid $text-color;
      font-size: 1.5rem;
      .submit {
        display: none;
      }
    }
    .field {
      font-size: 2rem;
      background-color: transparent;
      color: $text-color;
      border: none;
    }
  }
  ul {
    color: $text-color;
    .cat-item {
      a:before {
        content: '\00BB';
        color: $primary;
        padding-right: 1rem;
      }
    }
    a:link, a:visited {
      color: $text-color;
      font-size: 2rem;
      line-height: 3rem;
      &:hover {
        color: $primary;
      }
    }
  }
  .aside-title {
    color: $black;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 0;
  }

  //----------------Recent Post -------------------
  .rpwwt-widget {
    img {
      margin: 0;
    }
    .rpwwt-post-title {
      font-weight: 700;
      color: $black;
      text-transform: uppercase;
    }
    .rpwwt-post-date {
      font-size: 1.4rem;
      color: $primary;
      text-transform: uppercase;
    }
  }
  .tagcloud {
    a {
      color: $white;
      text-transform: uppercase;
      padding: 0.5rem 1rem;
      background-color: $green;
      border-radius: 2rem;
      margin-bottom: 1rem;
      display: inline-block;
    }
  }
  .mc4wp-form-fields {
    display: flex;
    flex-flow: column;
    input {
      padding: 1rem;
    }
    .email {
      width: 100%;
      color: $text-color;
      background-color: transparent;
      border: 1px solid $text-color;
      border-radius: unset;
      margin-bottom: 2rem;
    }
    .subscribe {
      color: $white;
      background-color: $green;
      padding: 1rem 2rem;
      margin: 0;
    }
  }
}

