.header {
	background-color: $black;
	.before-header {
		padding-right: 1rem;
		.link-header {
			font-size: 1.2rem;
			font-weight: 400;
			text-transform: uppercase;
			color: #ffffff;
			opacity: 1;
			letter-spacing: 0.6px;
			padding: 1rem;
		}
		.link-header:hover {
			color: $primary;
		}
		.header-p {
			font-size: 1.2rem;
			font-weight: 400;
			text-transform: uppercase;
			color: #ffffff;
			opacity: 0.8;
			letter-spacing: 0.6px;
			padding: 1rem;
			margin-bottom: 0;
		}
	}
	.before-header:first-child {
		@media (min-width: 567px) {
			border-right: 1px solid $white;
		}
	}
}
.navbar {
	padding-bottom: 2rem;
	li {
		margin-right: 1rem;
	}
	.navbar-toggler {
		background-color: $primary;
		padding: 1rem 1.5rem;
	}
}
#navbarNavDropdown {
	.nav-link {
		color: $black;
		font-size: 1.5rem;
		padding: 0.5rem 1rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	.nav-link:hover {
		color: $white;
		background-color: $green;
	}
	.active {
		a {
			color: $white;
			background-color: $primary;
		}
	}
}